<div ng-controller="PresenterController">
    <div class="jumbotron">
        <h1>Hello CPMS Team!</h1>
        <p>This demo is presented by {{presenter}}</p>
    </div>
    <br />
    <h1 class="page-header">Team Members:</h1>
    <ul class="list-group">
       <li ng-repeat="p in people" class="list-group-item">
           <div ng-repeat="(key, val) in p" class="row">
               <label class="col-sm-4">{{key}}:</label>
               <div class="col-sm-8">{{val}}</div>
           </div>
       </li>
    </ul>
</div>